In [2]:
import agate

In [3]:
students = agate.Table.from_csv('Documents/schools.csv')

In [4]:
print(students)

|---------------------+---------------|
|  column_names       | column_types  |
|---------------------+---------------|
|  DATAYEARS          | Number        |
|  CO_DIST            | Date          |
|  DISTRICT_NAME      | Text          |
|  COUNTY_NAME        | Text          |
|  CLASS_CODE         | Number        |
|  DISTRICT_TYPE_CODE | Text          |
|  CO_DIST_SCH        | Date          |
|  COUNTY             | Number        |
|  DISTRICT           | Number        |
|  SCHOOL             | Number        |
|  SCHOOL_NAME        | Text          |
|  GRADE_CODE         | Text          |
|  F_WH               | Number        |
|  M_WH               | Number        |
|  FBL                | Number        |
|  M_BL               | Number        |
|  F_HI               | Number        |
|  M_HI               | Number        |
|  F_AS               | Number        |
|  M_AS               | Number        |
|  F_AM               | Number        |
|  M_AM               | Number        |
|  F_PI               | Number        |
|  M_PI               | Number        |
|  F_MU               | Number        |
|  M_MU               | Number        |
|  FEMALE_TOTAL       | Number        |
|  MALE_TOTAL         | Number        |
|  TOTAL              | Number        |
|---------------------+---------------|

In [6]:
highschool = students.where(lambda row: row['GRADE_CODE'] != 'K')
print(len(highschool.rows))

6550

In [7]:
highschool = highschool.where(lambda row: row['GRADE_CODE'] != 'PK')
print(len(highschool.rows))

5964

In [8]:
highschool = highschool.where(lambda row: row['GRADE_CODE'] != '1')
print(len(highschool.rows))

5287

In [9]:
highschool = highschool.where(lambda row: row['GRADE_CODE'] != '2')
print(len(highschool.rows))

4609

In [10]:
highschool = highschool.where(lambda row: row['GRADE_CODE'] != '3')
print(len(highschool.rows))

3933

In [32]:
highschool = highschool.where(lambda row: row['GRADE_CODE'] != '4')
print(len(highschool.rows))

3254

In [11]:
highschool = highschool.where(lambda row: row['GRADE_CODE'] != '5')
print(len(highschool.rows))

3280

In [12]:
highschool = highschool.where(lambda row: row['GRADE_CODE'] != '6')
print(len(highschool.rows))

2741

In [13]:
highschool = highschool.where(lambda row: row['GRADE_CODE'] != '7')
print(len(highschool.rows))

2330

In [14]:
highschool = highschool.where(lambda row: row['GRADE_CODE'] != '8')
print(len(highschool.rows))

1915

In [36]:
by_stotals = students.group_by('CO_DIST_SCH')

In [37]:
print(len(by_stotals))

93

In [38]:
sum_stotals = students.aggregate(agate.Sum('FEMALE_TOTAL'))
print(sum_stotals)

171430

In [39]:
sum_stotals = students.aggregate(agate.Sum('MALE_TOTAL'))
print(sum_stotals)

182525

In [40]:
sum_stotals = students.aggregate(agate.Sum('TOTAL'))
print(sum_stotals)

353955

In [41]:
counts = by_stotals.aggregate([
    ('Total_Count', agate.Sum('TOTAL')),
    ('Female_Count', agate.Sum('FEMALE_TOTAL')),
    ('Male_Count', agate.Sum('MALE_TOTAL'))
])

In [42]:
sorted_counts = counts.order_by('Total_Count', reverse=False)
sorted_counts.print_table(max_rows=50)

|--------------+-------------+--------------+-------------|
|  CO_DIST_SCH | Total_Count | Female_Count | Male_Count  |
|--------------+-------------+--------------+-------------|
|   5801-01-01 |          66 |           29 |         37  |
|   5201-01-01 |          86 |           48 |         38  |
|   4301-01-01 |          90 |           45 |         45  |
|   6001-01-01 |          91 |           50 |         41  |
|   9201-01-01 |          93 |           46 |         47  |
|   8301-01-01 |          95 |           45 |         50  |
|   0501-01-01 |         103 |           51 |         52  |
|   0301-01-01 |         109 |           52 |         57  |
|   8601-01-01 |         112 |           51 |         61  |
|   3801-01-01 |         142 |           66 |         76  |
|   0401-01-01 |         164 |           86 |         78  |
|   4601-01-01 |         164 |           78 |         86  |
|   5701-01-01 |         198 |          109 |         89  |
|   7501-01-01 |         216 |          106 |        110  |
|   3701-01-01 |         222 |          105 |        117  |
|   3501-01-01 |         285 |          122 |        163  |
|   4401-01-01 |         291 |          129 |        162  |
|   4201-01-01 |         293 |          136 |        157  |
|   3101-01-01 |         296 |          152 |        144  |
|   2901-01-01 |         330 |          143 |        187  |
|   0801-01-01 |         352 |          185 |        167  |
|   3601-01-01 |         358 |          180 |        178  |
|   3901-01-01 |         395 |          182 |        213  |
|   6801-01-01 |         413 |          187 |        226  |
|   2501-01-01 |         429 |          211 |        218  |
|   8401-01-01 |         437 |          220 |        217  |
|   8201-01-01 |         446 |          215 |        231  |
|   0901-01-01 |         483 |          240 |        243  |
|   5301-01-01 |         508 |          238 |        270  |
|   6701-01-01 |         509 |          234 |        275  |
|   9101-01-01 |         555 |          283 |        272  |
|   3201-01-01 |         570 |          274 |        296  |
|   1801-01-01 |         715 |          340 |        375  |
|   4901-01-01 |         782 |          377 |        405  |
|   8801-01-01 |         800 |          396 |        404  |
|   6301-01-01 |         803 |          374 |        429  |
|   1601-01-01 |         810 |          377 |        433  |
|   8101-01-01 |         842 |          393 |        449  |
|   1501-01-01 |         862 |          432 |        430  |
|   6201-01-01 |         893 |          442 |        451  |
|   8501-01-01 |         929 |          476 |        453  |
|   2601-01-01 |         945 |          438 |        507  |
|   3001-01-01 |         947 |          462 |        485  |
|   0601-01-01 |       1,097 |          549 |        548  |
|   3301-01-01 |       1,132 |          546 |        586  |
|   6501-01-01 |       1,133 |          537 |        596  |
|   0201-01-01 |       1,166 |          561 |        605  |
|   6101-01-01 |       1,173 |          564 |        609  |
|   6401-01-01 |       1,191 |          592 |        599  |
|   5101-01-01 |       1,205 |          586 |        619  |
|          ... |         ... |          ... |        ...  |
|--------------+-------------+--------------+-------------|